.contain {
    padding: 1rem;
    background-color: #55ffe382;
    border-radius: 40px;
    /* border: white solid 2px; */
    box-shadow: 0 0 15px #55ffe3;
    width: 350px;
    display: flex;
    justify-content: center;
    /* box-shadow: 0 2px 5px 0 (0, 0, 0, .2); */
}

.contain:hover {
    background-color: #f155ff80;
    box-shadow: 0 0 15px #f155ff80;
}

.contain img {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 40px;
}