/* .numbers ul {
    color: white;
    list-style: none;
    background-color: blue;
} */
.numbers ul {
    list-style: none;
    text-align: center;
}

.numbers ul li {
    display: inline-block;
    margin-right: 10px;
}

.numbers ul a {
    display: block;
    padding: 10px 20px;
    color: white;
    background: #9b01e27e;
    border-radius: 4px;
    box-shadow: 0 0 20px #9b01e2;
}

.numbers ul a:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #55ffe3;
    background: #55ffe385;
}